:root {
    --main-color: #000;
    --main-font: 'Helvetica';
    --main-size-titulo: 16px;
    --main-size-subTitulo: 13px;
    --main-weight: font-weight: normal;
}

.gerar{
    margin-top: 40px;
    width: 592px;
}

.feed article {
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
  }

.texto{
    position: relative;
}

.texto h1{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-titulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 5px;
}
.texto h2{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 18px;
    margin-top: 8px;
}
.texto h3{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 43px;
    margin-bottom: 5px;
}
.texto h4{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 59px;
}
.texto h5{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 70px;
    margin-top: 28px;
}
.texto h6{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 80px;
}

span{
    color: var(--main-color);
    font-family: var(--main-font);
    position: absolute;
    font-size: var(--main-size-subTitulo);
    /* font-weight: var(--main-weight); */
    left: 250px;
    top: 115px;
}


img{
    position: absolute;
}

.logoTipo{
    margin-left: 25px;
    width: 150px;
    height: 150px;
}
