*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

#menu {
    background-color: rgb(45, 45, 54);
}

#menu ul{
    list-style: none;
    padding: 0;
}

#menu ul li{
    display: inline;
}


#menu ul li a{
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    transition: background .4s;
}

#menu ul li a:hover{
    color: #000;
    background-color: #F2F2F2;
}

#menu ul li:last-child  {
    float: right;
    margin: -10px 25px 20px;
}